<div class="row">
  <div class="columns">
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">
    <ul class="tabs vertical simple" id="dashboard-tabs" data-tabs>
      <li class="tabs-title is-active">
        <a href="#panel1v" aria-selected="true">
          <%= icon("sitemap", "Schemes", class: "fa-fw") %>
        </a>
      </li>
      <li class="tabs-title"><a href="#panel2v"><%= icon("envelope", "Invitations (#{current_user.all_invitations.unresponded.count})") %></a></li>
    </ul>
  </div>
  <div class="medium-9 columns medium-border-left">
    <div class="tabs-content vertical simple" data-tabs-content="dashboard-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <h3 class="subheader"><%= icon('sitemap', 'My Schemes') %></h3>
        <%= link_to icon("plus-circle", "New Scheme"), new_scheme_path, class: 'float-right' %>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Role</th>
              <th>Joined Date</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.scheme_participants.includes(:scheme).each do |dp| %>
              <% d = dp.scheme %>
              <tr>
                <td><%= link_to d.title, d %></td>
                <td><%= dp.role.titleize %></td>
                <td><%= dp.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tabs-panel" id="panel2v">
        <h3 class="subheader"><%= icon("envelope", "My Invitations") %></h3>
        <table id="scheme_invitations">
          <thead>
            <tr>
              <th>Scheme Title</th>
              <th>Invitation Date</th>
              <th colspan="2">Reply</th>
            </tr>
          </thead>
          <tbody>
            <% if current_user.all_invitations.present? %>
              <%= render partial: 'scheme_invitations/invitation_row', collection: current_user.all_invitations.includes(:scheme), as: :invite %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>