<div class="row">
  <div class="columns">
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">
    <ul class="tabs vertical simple" id="dashboard-tabs" data-tabs>
      <li class="tabs-title is-active">
        <%= link_to icon("book", "Activity Log", class: 'fa-fw'), '#panel1v', aria_selected: true %>
      </li>
      <li class="tabs-title">
        <%= link_to icon("sitemap", "Schemes", class: "fa-fw"), "#panel2v" %>
      </li>
      <li class="tabs-title">
        <%= link_to icon("envelope", "Invitations #{content_tag :span, "(#{current_user.all_invitations.unresponded.count})"}".html_safe, class: 'fa-fw'), "#panel3v" %>
      </li>
    </ul>
  </div>
  <div class="medium-9 columns medium-border-left">
    <div class="tabs-content vertical simple" data-tabs-content="dashboard-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <div class="tabs-header">
          <h3 class="tabs-header-title"><%= icon('book', 'My Activity Log', class: 'fa-fw') %></h3>
          <%= link_to icon("plus-circle", "Start New Scheme"), new_scheme_path, class: 'float-right button small' %>
        </div>
        <div class="empty">You have no recent activity.</div>
      </div>

      <div class="tabs-panel" id="panel2v">
        <div class="tabs-header">
          <h3 class="tabs-header-title"><%= icon('sitemap', 'My Schemes', class: 'fa-fw') %></h3>
          <%= link_to icon("plus-circle", "Start New Scheme"), new_scheme_path, class: 'float-right button small' %>
        </div>
        <% schemes = current_user.scheme_participants.includes(:scheme) %>
        <% if schemes.present? %>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Role</th>
                <th class="show-for-medium">Last Modified</th>
              </tr>
            </thead>
            <tbody>
              <% schemes.each do |dp| %>
                <% scheme = dp.scheme %>
                <tr>
                  <td><%= link_to scheme.title, scheme %></td>
                  <td><%= dp.role.titleize %></td>
                  <td class="show-for-medium"><%= timestamp scheme %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="empty">
            <p>You don't have any schemes yet.</p>
            <p><%= link_to icon("plus-circle", "Start New Scheme"), new_scheme_path %></p>
          </div>
        <% end %>
      </div>
      <div class="tabs-panel" id="panel3v">
        <div class="tabs-header">
          <h3 class="tabs-header-title"><%= icon("envelope", "My Invitations", class: 'fa-fw') %></h3>
        </div>
        <% invitations = current_user.all_invitations.includes(:scheme) %>
        <% if invitations.present? %>
          <table id="scheme_invitations">
            <thead>
              <tr>
                <th>Scheme Title</th>
                <th class="show-for-medium">Invitation Date</th>
                <th colspan="2">Reply</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'scheme_invitations/invitation_row', collection: invitations, as: :invite %>
            </tbody>
          </table>
        <% else %>
          <div class="empty">You haven't received any invitations yet.</div>
        <% end %>
      </div>
    </div>
  </div>
</div>