<div class="row">
  <div class="columns">
    <h1><%= @discussion.title %></h1>
    <div class="discussion-subheader">
      <%= link_to icon("user", pluralize(@discussion.participants.count, "Participant") + " - Invite More!"), 'javascript:void(0);', data: { open: "invitation_dialog" } %>
    </div>
  </div>
</div>


<div class="row">
  <div class="columns">
    <div class="discussion-tree">
      <ul class="tabs active-tabs" data-tabs id="action_tabs">
        <li class="tabs-title"><%= link_to icon("comment", "Add Comment"), "#panel1" %></li>
        <li class="tabs-title"><%= link_to icon("bar-chart", "Add Poll"), "#panel2", class: "secondary" %></li>
      </ul>

      <div class="tabs-content active-tabs" data-tabs-content="action_tabs">
        <div class="tabs-panel" id="panel1">
          <%= render 'comments/create_form' %>
        </div>
        <div class="tabs-panel secondary" id="panel2">
          <%= render 'polls/form' %>
        </div>
      </div>

      <ul class="entries">
        <%= render(discussion_entries(@discussion)) || content_tag(:li, "No discussion entries have been made yet.", class: "entry-li empty") %>
      </ul>
    </div>
  </div>
</div>


<%= reveal 'invitation_dialog' do %>
  <%= render 'invitation_form' %>
<% end %>