<%
  left_action_links  ||= nil
  right_action_links ||= nil
  schemable            = entry.schemable
%>

<li class="entry-li"
    data-entry-id="<%= entry.schemable_id %>"
    data-entry-type="<%= entry.schemable_type %>">
  <div class="entry">
    <div class="details">
      <b><%= schemable_author schemable %></b>
      <%= timestamp schemable %>
    </div>
    <div class="content"><%= entry_content entry %></div>
    <div class="actions"><%= entry_actions entry, left_action_links, right_action_links %></div>
  </div>
</li>