<%
  left_action_links  ||= nil
  right_action_links ||= nil
  schemable            = entry.schemable
%>

<div class="entry"
     data-entry-id="<%= entry.schemable_id %>"
     data-entry-type="<%= entry.schemable_type %>">
  <div class="details"><%= entry_details entry %></div>
  <div class="content"><%= entry_content entry %></div>
  <div class="actions"><%= entry_actions entry, left_action_links, right_action_links %></div>
</div>