<div class="row">
  <div class="columns">
    <h2>Discussion Participants</h2>
  </div>
</div>

<%= form_for @scheme, url: scheme_invitations_path(@scheme), remote: true, html: { method: :post } do |f| %>
  <div class="row">
    <div class="columns">
      <ul class="no-bullet invitations-list">
        <li class="header">
          <div class="input-group no-margin">
            <%= email_field_tag :new_invitee, nil, data: { guard_required: true, guard_errors_container: "#new_invitee_errors" }, class: 'input-group-field', placeholder: "Enter an email address" %>
            <div class="input-group-button">
              <%= button_tag class: 'button expanded secondary', id: "invitation_add" do %>
                <%= icon("plus-circle", "Add") %>
              <% end %>
            </div>
          </div>
          <div id="new_invitee_errors" class="no-margin-errors-container"></div>
        </li>
        <li class="empty" style="<%= 'display: none;' if @scheme.scheme_invitations.present? %>">No invitations have been added.</li>
        <%= render @scheme.scheme_invitations %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "Send Invitations", class: 'button', style: 'display: none;', id: "invitation_submit" %>
    </div>
  </div>
<% end %>

<ul class="toolbox">
  <%= clonable_scheme_invitation %>
</ul>
