<div class="row">
  <div class="columns">
    <div class="form">
      <div class="form-header">
        <h1>New Scheme</h1>
      </div>

      <div class="form-container">
        <%= form_for @scheme, html: { data: { guard_validate: '' } } do |f| %>
          <div class="form-field">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "Put topic name or descriptor here", data: { guard_required: '' } %>
          </div>

          <div class="form-field">
            <table class="simple">
              <thead>
                <tr>
                  <th colspan="3"><%= f.label :private, "Access Type" %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= f.radio_button :private, false, class: 'no-margin va-middle' %></td>
                  <td><%= f.label :private, icon("users", "Public", class: "fa-fw"), value: false, class: "no-wrap text-center" %></td>
                  <td><%= f.label :private, "Anyone with the link can participate.", value: false, class: "secondary-text"  %></td>
                </tr>
                <tr>
                  <td><%= f.radio_button :private, true, class: 'no-margin va-middle' %></td>
                  <td><%= f.label :private, icon("lock", "Private", class: "fa-fw"), value: true, class: "no-wrap text-center" %></td>
                  <td><%= f.label :private, "Only those you invite will be able to participate.", value: true, class: "secondary-text"  %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-field">
            <%= f.submit class: "button no-margin" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>