<div class="row">
  <div class="columns">
    <h1 class="scheme-title"><%= @scheme.title %></h1>
    <div class="scheme-subheader">
      <%= link_to icon("user", pluralize(@scheme.participants.count, "Participant") + " - Invite More!"), 'javascript:void(0);', data: { open: "invitation_dialog" } %>
    </div>
  </div>
</div>


<div class="row">
  <div class="columns">
    <div class="scheme-tree">
      <ul class="tabs active-tabs" id="action_tabs">
        <li class="tabs-title"><%= link_to icon("comment", "Add Comment"), "#panel1" %></li>
        <li class="tabs-title"><%= link_to icon("bar-chart", "Add Poll"), "#panel2", class: "secondary" %></li>
      </ul>

      <div class="tabs-content active-tabs" data-tabs-content="action_tabs">
        <div class="tabs-panel" id="panel1">
          <%= render 'comments/create_form' %>
        </div>
        <div class="tabs-panel secondary" id="panel2">
          <%= render 'polls/form' %>
        </div>
      </div>

      <ul class="entries">
        <%= entry_list(@entries) %>
      </ul>
    </div>
  </div>
</div>


<%= reveal 'invitation_dialog', 'invitation_form' %>