<tr class="invite-<%= invite.id %>">
  <td><%= link_to invite.scheme.title, invite.scheme %></td>
  <td><%= invite.created_at %></td>
  <% if invite.responded? %>
    <td colspan="2"><%= invitation_response_label(invite) %></td>
  <% else %>
    <td><%= invitation_response_form invite %></td>
    <td><%= invitation_response_form invite, false %></td>
  <% end %>
</tr>