<% schemable = scheme_entry.schemable %>

<li class="entry-li"
    data-entry-id="<%= scheme_entry.schemable_id %>"
    data-entry-type="<%= scheme_entry.schemable_type %>">
  <div class="entry">
    <div class="details">
      <b><%= schemable_author schemable %></b>
      <%= timestamp schemable %>
    </div>
    <div class="content"><%= render schemable %></div>
    <div class="actions"><%= schemable_actions schemable %></div>
  </div>
</li>