<% schemable = scheme_entry.schemable %>

<li class="entry-li"
    data-entry-id="<%= scheme_entry.schemable_id %>"
    data-entry-type="<%= scheme_entry.schemable_type %>">
  <div class="entry">
    <div class="details">
      <b><%= schemable_author schemable %></b>
      <%= timestamp schemable %>
    </div>
    <div class="content"><%= render schemable %></div>
    <div class="actions">
      <div class="actions-left">
        <%= render 'scheme_entries/vote_links', scheme_entry: scheme_entry %>
        <div class="action"><%= link_to icon("heart", 0) %></div>
      </div>
      <div class="actions-right"><%= schemable_actions schemable %></div>
    </div>
  </div>
</li>