<% nickname = current_nicknames.detect { |n| n.namee_id == user.id } if current_user != user %>

<div class="profile">
  <h1><%= user_display_name user %></h1>
  <div class="menu-centered">
    <ul class="menu">
      <% if current_user == user %>
        <li><%= link_to icon("pencil", "Edit Display Name"), "javascript:void(0);", class: 'display-name-link' %></li>
      <% else %>
        <% if nickname %>
          <li><%= link_to icon("trash", "Remove Nickname"), [user, nickname], method: :delete, class: 'nickname-delete-link' %></li>
          <li><%= link_to icon("pencil", "Edit Nickname"), "javscript:void(0);", class: "nickname-edit-link" %></li>
        <% else %>
          <li><%= link_to icon("plus-circle", "Add Nickname"), "javascript:void(0);", class: 'nickname-add-link' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if current_user == user %>
    <%= render 'display_names/form', user: user %>
  <% else %>
    <%= render 'nicknames/form', nickname: nickname || Nickname.new %>
  <% end %>
</div>