<div class="row">
  <div class="columns">
    <div class="form">
      <div class="form-header">
        <h1>Forgot Your Password?</h1>
      </div>

      <div class="form-container">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { guard_validate: '' } }) do |f| %>
          <%= form_errors(resource) %>

          <div class="form-field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, data: { guard_required: '' } %>
          </div>

          <div class="form-field">
            <%= f.submit "Send me reset password instructions", class: "button" %>
          </div>
          <hr/>

          <div class="form-field">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


