<li class="invitation<%= ' new' if discussion_invitation.new_record? %>">
  <label><%= discussion_invitation.email %></label>
  <%= hidden_field_tag "discussions[invitees][]", discussion_invitation.email, disabled: discussion_invitation.persisted? %>
  <% unless discussion_invitation.persisted? %>
    <%= content_tag :a, icon('trash'), class: 'float-right', title: "Remove Invitation" %>
  <% else %>
    <%= content_tag :span, "Invited", class: 'float-right label success hollow' %>
  <% end %>
</li>