<div class="row">
  <div class="columns">
    <div class="form">
      <div class="form-header">
        <h1>Settings</h1>
      </div>

      <div class="form-container">
        <%= form_for current_user, url: update_settings_path, html: { method: :patch } do |f| %>
          <%= form_errors(current_user) %>

          <div class="form-field">
            <%= f.label :display_name %>
            <%= f.text_field :display_name %>
          </div>

          <div class="form-field">
            <%= f.submit class: 'button no-margin' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>