<div class="row">
  <div class="columns">
    <h2>Create Poll</h2>
  </div>
</div>

<% poll = Poll.new; 2.times {|x| poll.poll_options.build } %>
<%= form_for [@discussion, poll], remote: true, html: { data: { guard_validate: '' } } do |f| %>
  <div class="row">
    <div class="columns">
      <%= f.label :title, content_tag(:strong, "Enter Poll Question or Title") %>
      <%= f.text_field :title, data: { guard_required: true } %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <ul class="no-bullet" id="poll_poll_options">
        <%= f.fields_for :poll_options do |ff| %>
          <%= render 'polls/poll_option_fields', fields_for: ff %>
        <% end %>
      </ul>
      <%= link_to_add_poll_option f %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit class: 'button no-margin' %>
    </div>
  </div>
<% end %>