<%= form_for PollResponse.new, url: discussion_poll_vote_path(poll.discussion, poll) do |f| %>
  <%= f.label :poll_option_id, poll.title %>
  <ul class="no-bullet">
    <% poll.poll_options.each do |po| %>
      <li>
        <%= f.label :poll_option_id, value: po.id do %>
          <%= f.radio_button :poll_option_id, po.id %>
          <%= po.value %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Submit", class: "button no-margin" %>
<% end %>