<div class="row">
  <div class="columns">
    <div class="form">
      <div class="form-header">
        <h1>Log In</h1>
      </div>

      <div class="form-container">
        <%= link_to icon("google", "Sign In With Google"), user_google_oauth2_omniauth_authorize_path, class: 'button expanded' %>
        <hr/>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-subheader">
            <h4>Sign In With Email</h4>
          </div>

          <div class="form-field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form-field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="form-field">
            <%= f.submit "Log in", class: "button" %>
          </div>
        <% end %>
        <hr/>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>