<div id="header" style="margin-bottom: 1rem">
  <div class="top-bar">
    <div class="row">
      <div class="columns">
        <div class="top-bar-title">
          <%= link_to image_tag('logo/draft.svg', alt: 'SchemeHQ'), root_path %>
        </div>

        <div class="float-right hide-for-large" style="padding: 0.5rem 0;">
          <span data-responsive-toggle="responsive-menu" data-hide-for="large">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
        </div>

        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="menu icon-top-small-only text-center" id="main-menu">
              <% if current_user %>
                <li class="menu-text show-for-medium">Hi <%= user_display_name(current_user) %>!</li>
                <li class="show-for-medium"><%= header_menu_link 'home', 'Home', my_path %></li>
                <li><%= header_menu_link 'cog', 'Settings', settings_path %></li>
                <li><%= header_menu_link 'sign-out', 'Log Out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= header_menu_link 'group', 'Sign Up', new_user_registration_path %></li>
                <li><%= header_menu_link 'sign-in', 'Log In', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/flash' if flash.present? %>
</div>