<div id="header" class="top-bar">
  <div class="row">
    <div class="columns">
      <div class="top-bar-title">
        <%= link_to content_tag(:strong, "SchemeHQ"), root_path %>
      </div>

      <div class="float-right hide-for-large" style="padding: 0.5rem 0;">
        <span data-responsive-toggle="responsive-menu" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
      </div>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="menu icon-top-small-only text-center" id="main-menu">
            <% if current_user %>
              <li><%= link_to 'Settings', settings_path %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/flash' if flash.present? %>
</div>